@import "tailwindcss";

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
  body {
    font-family: "Jost", sans-serif;
  }
  .text-hoverBefore {
    @apply block group-hover:-translate-y-full duration-500;
  }
  .text-hoverAfter {
    @apply absolute -bottom-full group-hover:bottom-0 duration-500;
  }
  .shadow-custom {
    box-shadow: 0 4px 6px -1px rgba(200, 0, 255, 0.1);
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  /* div {
    border: 3px solid black;
  } */
}

.date-only::-webkit-datetime-edit-text,
.date-only::-webkit-datetime-edit-month-field,
.date-only::-webkit-datetime-edit-day-field,
.date-only::-webkit-datetime-edit-year-field {
  display: none; 
}